{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudvoice REST API",
    "version": "1.0.0",
    "description": "Our full rest api for managing resources.\n\n**Authentication** — supply one of:\n- `Authorization: Bearer <jwt>` — obtained from `/v1/auth/login` or `/v1/auth/register`\n- `Authorization: Bearer sk_live_<key>` — an API key created via `/v1/api-keys`",
    "contact": {
      "name": "quinten.rowland@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://api.cloudvoice.network",
      "description": "Production server"
    },
    {
      "url": "http://127.0.0.1:3000",
      "description": "Staging server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT or API Key (sk_live_*)",
        "description": "Pass a JWT token or an API key prefixed with `sk_live_`."
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "bad_request"
              },
              "message": {
                "type": "string",
                "example": "Human-readable error message"
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["active", "suspended"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Organisation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "plan": {
            "type": "string",
            "enum": ["free", "pro", "enterprise", "custom"]
          },
          "status": {
            "type": "string",
            "enum": ["active", "suspended", "deleted"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "role": {
            "type": "string",
            "enum": ["owner", "admin", "developer", "viewer"]
          }
        }
      },
      "OrganisationLimits": {
        "type": "object",
        "properties": {
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "requests_per_minute": {
            "type": "integer"
          },
          "requests_per_day": {
            "type": "integer"
          },
          "max_users": {
            "type": "integer"
          },
          "max_api_keys": {
            "type": "integer"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["owner", "admin", "developer", "viewer"]
          },
          "joined_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "prefix": {
            "type": "string",
            "example": "sk_live_abc123"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["active", "revoked"]
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CallCenterQueue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "Support Queue"
          },
          "fs_name": {
            "type": "string",
            "example": "support",
            "description": "FreeSWITCH-safe slug used in mod_callcenter"
          },
          "strategy": {
            "type": "string",
            "enum": [
              "longest-idle-agent",
              "round-robin",
              "top-down",
              "agent-with-least-talk-time",
              "agent-with-fewest-calls",
              "sequentially-by-agent-order",
              "ring-all",
              "ring-progressively"
            ],
            "example": "longest-idle-agent"
          },
          "moh_sound": {
            "type": "string",
            "nullable": true,
            "description": "Music-on-hold sound file path"
          },
          "announce_sound": {
            "type": "string",
            "nullable": true
          },
          "announce_frequency_secs": {
            "type": "integer",
            "example": 0
          },
          "max_wait_time": {
            "type": "integer",
            "example": 0,
            "description": "0 = no limit"
          },
          "max_wait_time_with_no_agent": {
            "type": "integer",
            "example": 0
          },
          "tier_rules_apply": {
            "type": "boolean"
          },
          "tier_rule_wait_second": {
            "type": "integer",
            "example": 300
          },
          "discard_abandoned_after": {
            "type": "integer",
            "example": 60
          },
          "abandoned_resume_allowed": {
            "type": "boolean"
          },
          "agent_no_answer_status": {
            "type": "string",
            "example": "On Break"
          },
          "ring_progressively_delay": {
            "type": "integer",
            "example": 10
          },
          "calls_answered": {
            "type": "integer"
          },
          "calls_abandoned": {
            "type": "integer"
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CallCenterAgent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "Alice"
          },
          "fs_name": {
            "type": "string",
            "example": "alice",
            "description": "FreeSWITCH agent identifier (no spaces)"
          },
          "type": {
            "type": "string",
            "enum": ["callback", "uuid-standby"],
            "example": "callback"
          },
          "contact": {
            "type": "string",
            "example": "sofia/internal/1001@sip.local",
            "description": "Dial string or UUID for uuid-standby agents"
          },
          "sip_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "Available",
              "Available (On Demand)",
              "On Break",
              "Logged Out"
            ],
            "example": "Available"
          },
          "state": {
            "type": "string",
            "example": "Waiting",
            "description": "Live state set by mod_callcenter"
          },
          "max_no_answer": {
            "type": "integer",
            "example": 0
          },
          "wrap_up_time": {
            "type": "integer",
            "example": 0,
            "description": "Seconds after a call before agent is offered another"
          },
          "reject_delay_time": {
            "type": "integer",
            "example": 0
          },
          "busy_delay_time": {
            "type": "integer",
            "example": 0
          },
          "no_answer_delay_time": {
            "type": "integer",
            "example": 0
          },
          "calls_answered": {
            "type": "integer"
          },
          "talk_time_seconds": {
            "type": "integer"
          },
          "last_status_change": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CallCenterTier": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "queue_id": {
            "type": "string",
            "format": "uuid"
          },
          "agent_id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "level": {
            "type": "integer",
            "example": 1,
            "description": "Priority group; lower = higher priority"
          },
          "position": {
            "type": "integer",
            "example": 1,
            "description": "Order within a level"
          },
          "state": {
            "type": "string",
            "example": "Ready"
          },
          "agent_name": {
            "type": "string"
          },
          "agent_fs_name": {
            "type": "string"
          },
          "agent_status": {
            "type": "string"
          },
          "agent_state": {
            "type": "string"
          }
        }
      },
      "CallCenterMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "queue_id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "freeswitch_uuid": {
            "type": "string",
            "description": "FS channel UUID of the caller"
          },
          "call_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "agent_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "agent_name": {
            "type": "string",
            "nullable": true
          },
          "cid_name": {
            "type": "string",
            "nullable": true
          },
          "cid_number": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": ["waiting", "bridged", "completed", "abandoned"]
          },
          "leaving_reason": {
            "type": "string",
            "nullable": true
          },
          "joined_at": {
            "type": "string",
            "format": "date-time"
          },
          "bridged_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "left_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "CallCenterStats": {
        "type": "object",
        "properties": {
          "queue_id": {
            "type": "string",
            "format": "uuid"
          },
          "fs_queue_name": {
            "type": "string"
          },
          "calls_answered": {
            "type": "integer"
          },
          "calls_abandoned": {
            "type": "integer"
          },
          "total_callers": {
            "type": "integer"
          },
          "currently_waiting": {
            "type": "integer"
          },
          "currently_bridged": {
            "type": "integer"
          },
          "total_answered": {
            "type": "integer"
          },
          "total_abandoned": {
            "type": "integer"
          },
          "avg_wait_seconds": {
            "type": "number",
            "nullable": true
          },
          "avg_talk_seconds": {
            "type": "number",
            "nullable": true
          },
          "total_agents": {
            "type": "integer"
          },
          "available_agents": {
            "type": "integer"
          },
          "agents_on_call": {
            "type": "integer"
          }
        }
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://example.com/webhook"
          },
          "event_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Empty array means subscribe to ALL event types",
            "example": ["call.started", "call.ended"]
          },
          "active": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "webhook_endpoint_id": {
            "type": "string",
            "format": "uuid"
          },
          "event_id": {
            "type": "string",
            "format": "uuid"
          },
          "event_type": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "delivered", "failed"]
          },
          "response_status": {
            "type": "integer",
            "nullable": true
          },
          "response_body": {
            "type": "string",
            "nullable": true
          },
          "error_message": {
            "type": "string",
            "nullable": true
          },
          "duration_ms": {
            "type": "integer",
            "nullable": true
          },
          "attempt_count": {
            "type": "integer"
          },
          "delivered_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "next_retry_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SmsCredential": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "jasmin_username": {
            "type": "string"
          },
          "jasmin_password": {
            "type": "string",
            "description": "Plaintext password (admin-only route). Parity with sip_gateways.password."
          },
          "default_sender_id": {
            "type": "string",
            "nullable": true
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SmsMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "direction": {
            "type": "string",
            "enum": ["outbound", "inbound"]
          },
          "from_number": {
            "type": "string",
            "nullable": true
          },
          "to_number": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "encoding": {
            "type": "string",
            "enum": ["gsm7", "ucs2"]
          },
          "segments": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "sending",
              "sent",
              "delivered",
              "undelivered",
              "failed",
              "received",
              "expired",
              "unknown"
            ]
          },
          "provider_message_id": {
            "type": "string",
            "nullable": true
          },
          "error_code": {
            "type": "string",
            "nullable": true
          },
          "diagnostic_info": {
            "type": "string",
            "nullable": true
          },
          "tag": {
            "type": "object",
            "nullable": true
          },
          "submitted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "delivered_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "QueuedSms": {
        "type": "object",
        "description": "Response from POST /v1/sms — minimal fields available at submission time.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "direction": {
            "type": "string",
            "enum": ["outbound"]
          },
          "status": {
            "type": "string",
            "enum": ["queued"]
          },
          "to_number": {
            "type": "string"
          },
          "from_number": {
            "type": "string",
            "nullable": true
          },
          "encoding": {
            "type": "string",
            "enum": ["gsm7", "ucs2"]
          },
          "segments": {
            "type": "integer"
          },
          "tag": {
            "type": "object",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SipUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "extension": {
            "type": "string",
            "example": "1001"
          },
          "realm": {
            "type": "string",
            "example": "sip.example.com"
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "voicemail_enabled": {
            "type": "boolean"
          },
          "application_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Default application for inbound calls to this user"
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SipUserWithPassword": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SipUser"
          },
          {
            "type": "object",
            "properties": {
              "password": {
                "type": "string",
                "description": "Plaintext SIP password — shown ONCE at creation/rotation. Never retrievable afterwards; rotate if lost.\n"
              }
            }
          }
        ]
      },
      "Recording": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "call_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "content_type": {
            "type": "string",
            "example": "audio/wav"
          },
          "size_bytes": {
            "type": "integer"
          },
          "duration_seconds": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Number": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "e164": {
            "type": "string",
            "example": "+27821234567",
            "description": "E.164 formatted number"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["voice", "sms"]
            },
            "example": ["voice", "sms"]
          },
          "application_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Required when capabilities includes \"voice\""
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SipGateway": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "Primary Trunk"
          },
          "profile": {
            "type": "string",
            "example": "external",
            "description": "SIP profile name"
          },
          "realm": {
            "type": "string",
            "example": "sip.carrier.com"
          },
          "proxy": {
            "type": "string",
            "nullable": true,
            "example": "proxy.carrier.com"
          },
          "username": {
            "type": "string",
            "example": "myuser"
          },
          "caller_id_number": {
            "type": "string",
            "nullable": true,
            "example": "+27821234567"
          },
          "caller_id_name": {
            "type": "string",
            "nullable": true,
            "example": "MyCompany"
          },
          "codecs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["OPUS", "PCMU"]
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Call": {
        "type": "object",
        "description": "Full call record returned by GET endpoints. Lifecycle fields (status, hangup_cause, duration_seconds, answered_at, ended_at) are nullable and fill in over time as the call progresses — poll, or subscribe to webhook events, to track changes.\n",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "gateway_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Set for to.type=phone calls; null for sip/user"
          },
          "application_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "application_version": {
            "type": "integer",
            "nullable": true
          },
          "record_calls": {
            "type": "boolean"
          },
          "tag": {
            "type": "object",
            "nullable": true,
            "description": "Free-form customer metadata supplied at originate time"
          },
          "time_limit_secs": {
            "type": "integer",
            "nullable": true,
            "description": "Hard cap on call duration in seconds"
          },
          "direction": {
            "type": "string",
            "enum": ["outbound", "inbound"]
          },
          "from_number": {
            "type": "string",
            "example": "+27821234567"
          },
          "to_number": {
            "type": "string",
            "example": "+27623182874",
            "description": "Display form of the dialled target — E.164 number, SIP URI, or user@realm depending on the to.type"
          },
          "caller_id_name": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "initiated",
              "ringing",
              "answered",
              "completed",
              "failed",
              "cancelled",
              "no_answer",
              "busy"
            ]
          },
          "hangup_cause": {
            "type": "string",
            "nullable": true,
            "example": "NORMAL_CLEARING"
          },
          "duration_seconds": {
            "type": "integer",
            "nullable": true
          },
          "initiated_at": {
            "type": "string",
            "format": "date-time"
          },
          "answered_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreatedCall": {
        "type": "object",
        "description": "Response returned from POST /v1/calls. Only includes fields that have meaningful values at originate time. Use GET /v1/calls/:id to see lifecycle progress (status, duration, hangup_cause, etc.).\n",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "gateway_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "application_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "application_version": {
            "type": "integer",
            "nullable": true
          },
          "direction": {
            "type": "string",
            "enum": ["outbound"]
          },
          "status": {
            "type": "string",
            "enum": ["initiated", "failed"]
          },
          "to_number": {
            "type": "string"
          },
          "from_number": {
            "type": "string"
          },
          "caller_id_name": {
            "type": "string",
            "nullable": true
          },
          "record_calls": {
            "type": "boolean"
          },
          "time_limit_secs": {
            "type": "integer",
            "nullable": true
          },
          "tag": {
            "type": "object",
            "nullable": true
          },
          "initiated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CallTarget": {
        "type": "object",
        "required": ["type"],
        "description": "Typed destination. The `type` discriminator picks which other fields are required.\n",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["phone", "sip", "user"]
          },
          "number": {
            "type": "string",
            "description": "E.164 number (required when type=phone)"
          },
          "gateway_id": {
            "type": "string",
            "format": "uuid",
            "description": "SIP gateway (required when type=phone)"
          },
          "sip_uri": {
            "type": "string",
            "description": "sip:/sips: URI (required when type=sip)"
          },
          "profile": {
            "type": "string",
            "default": "external",
            "description": "Sofia profile to use (type=sip only)"
          },
          "auth": {
            "type": "object",
            "description": "Optional digest auth for type=sip when the URI 401-challenges. Password is NEVER stored or echoed in events.\n",
            "properties": {
              "username": {
                "type": "string"
              },
              "password": {
                "type": "string"
              }
            },
            "required": ["username", "password"]
          },
          "outbound_proxy": {
            "type": "string",
            "nullable": true,
            "description": "Optional SIP proxy/SBC URI to route the outgoing INVITE through (type=sip only). Sets the FreeSWITCH `sip_route_uri` channel variable, which forces the INVITE to this address regardless of the Request-URI. Must be a valid `sip:` or `sips:` URI. Include `;lr` for RFC 3261 loose routing (recommended).\n",
            "example": "sip:192.168.1.50:5060;lr"
          },
          "user": {
            "type": "string",
            "description": "Registered SIP user \"extension@realm\" (required when type=user)"
          }
        }
      },
      "CallHeaders": {
        "type": "object",
        "description": "Custom SIP headers added to the outgoing INVITE. Use X- prefixed names for portability. Values cannot contain CR/LF.\n",
        "additionalProperties": {
          "type": "string"
        }
      },
      "AmdConfig": {
        "type": "object",
        "description": "Answering Machine Detection configuration. When present with `enabled: true`, the platform runs mod_amd on the answered channel before executing the application flow. Detection result is stored on the call record (`amd_result`) and a `call.amd` webhook event is fired with `result` and `cause` fields.\n**Results:** `human` | `machine` | `notsure` | `toolong`\n**Causes:** `connect` (human answered) | `longgreeting` | `maxwords` | `initialsilence` | `maxwordlength` | `toolong` (analysis timed out)\n**Tuning tips:**\n  - Increase `maximum_number_of_words` (default 3) if real people are being\n    misclassified as machines — 3 words is very aggressive.\n  - Increase `after_greeting_silence` to wait longer for silence after a\n    greeting before deciding the call is human.\n  - `total_analysis_time` is a hard cap — AMD returns as soon as it reaches\n    any decision, so the actual wait is usually much shorter.\n",
        "required": ["enabled"],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Must be `true` to activate AMD.",
            "example": true
          },
          "silence_threshold": {
            "type": "integer",
            "default": 256,
            "minimum": 1,
            "maximum": 32767,
            "description": "Energy threshold (0–32767) for classifying a frame as voiced vs. silent. Higher values require louder audio to be considered speech.\n"
          },
          "initial_silence": {
            "type": "integer",
            "default": 2500,
            "minimum": 100,
            "maximum": 30000,
            "description": "Maximum silence (ms) allowed before any speech is detected. If exceeded, result is `machine` / cause `initialsilence`.\n"
          },
          "greeting": {
            "type": "integer",
            "default": 1500,
            "minimum": 100,
            "maximum": 30000,
            "description": "Maximum duration (ms) of a single continuous utterance during the greeting phase. If exceeded, result is `machine` / cause `longgreeting`.\n"
          },
          "after_greeting_silence": {
            "type": "integer",
            "default": 800,
            "minimum": 100,
            "maximum": 30000,
            "description": "Silence duration (ms) after the greeting that indicates a human. A human typically says \"Hello?\" and then waits.\n"
          },
          "total_analysis_time": {
            "type": "integer",
            "default": 5000,
            "minimum": 1000,
            "maximum": 30000,
            "description": "Total time (ms) allowed for analysis. If no decision is made within this window, result is `notsure` / cause `toolong`. This is a maximum — AMD returns as soon as it reaches any decision.\n"
          },
          "min_word_length": {
            "type": "integer",
            "default": 100,
            "minimum": 10,
            "maximum": 10000,
            "description": "Minimum duration (ms) of continuous voice to be considered a word."
          },
          "maximum_word_length": {
            "type": "integer",
            "default": 5000,
            "minimum": 100,
            "maximum": 30000,
            "description": "Maximum duration (ms) of a single word. If exceeded, result is `machine` / cause `maxwordlength`.\n"
          },
          "between_words_silence": {
            "type": "integer",
            "default": 50,
            "minimum": 10,
            "maximum": 10000,
            "description": "Silence duration (ms) between words that separates one word from the next."
          },
          "maximum_number_of_words": {
            "type": "integer",
            "default": 3,
            "minimum": 1,
            "maximum": 100,
            "description": "Maximum number of words allowed before classifying as machine. If exceeded, result is `machine` / cause `maxwords`. **Increase this (e.g. to 6) if real people are being misclassified.**\n"
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organisation_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "Welcome IVR"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "flow": {
            "type": "object",
            "description": "Flow definition (see FlowDefinition schema)"
          },
          "config": {
            "$ref": "#/components/schemas/ApplicationConfig"
          },
          "version": {
            "type": "integer",
            "example": 3,
            "description": "Bumped on every flow update"
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApplicationConfig": {
        "type": "object",
        "description": "Application-level configuration. All fields are optional and merge with system defaults. Adding new keys is non-breaking.\n",
        "properties": {
          "record_calls": {
            "type": "boolean",
            "description": "Record every call attached to this application unless overridden per-call. Recordings are accessible via the `/v1/recordings` API once they're uploaded after the call ends.\n",
            "default": false
          }
        }
      },
      "FlowDefinition": {
        "type": "array",
        "description": "An ordered list of verbs (Jambonz-style). Executed top-to-bottom. Only `gather` branches; all other verbs are sequential. See docs/APPLICATIONS.md for fully worked examples.\n",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/VerbPlay"
            },
            {
              "$ref": "#/components/schemas/VerbGather"
            },
            {
              "$ref": "#/components/schemas/VerbDial"
            },
            {
              "$ref": "#/components/schemas/VerbListen"
            },
            {
              "$ref": "#/components/schemas/VerbPause"
            },
            {
              "$ref": "#/components/schemas/VerbSay"
            },
            {
              "$ref": "#/components/schemas/VerbHangup"
            },
            {
              "$ref": "#/components/schemas/VerbQueue"
            }
          ],
          "discriminator": {
            "propertyName": "verb",
            "mapping": {
              "play": "#/components/schemas/VerbPlay",
              "gather": "#/components/schemas/VerbGather",
              "dial": "#/components/schemas/VerbDial",
              "listen": "#/components/schemas/VerbListen",
              "pause": "#/components/schemas/VerbPause",
              "say": "#/components/schemas/VerbSay",
              "hangup": "#/components/schemas/VerbHangup",
              "queue": "#/components/schemas/VerbQueue"
            }
          }
        }
      },
      "VerbPlay": {
        "type": "object",
        "required": ["verb", "url"],
        "properties": {
          "verb": {
            "type": "string",
            "enum": ["play"]
          },
          "url": {
            "description": "A single URL or an array of URLs (played in sequence).",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "loop": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 1
          },
          "timeoutSecs": {
            "type": "number",
            "minimum": 1,
            "maximum": 3600
          },
          "seekOffset": {
            "type": "integer",
            "minimum": 0,
            "description": "Samples to seek into the URL"
          },
          "earlyMedia": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "VerbGather": {
        "type": "object",
        "required": ["verb"],
        "properties": {
          "verb": {
            "type": "string",
            "enum": ["gather"]
          },
          "input": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["digits"]
            },
            "default": ["digits"]
          },
          "prompt": {
            "description": "Optional prompt to play before collecting digits.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "numDigits": {
            "type": "integer",
            "minimum": 1,
            "maximum": 32,
            "description": "Shorthand for minDigits=maxDigits=N"
          },
          "minDigits": {
            "type": "integer",
            "minimum": 0,
            "maximum": 32
          },
          "maxDigits": {
            "type": "integer",
            "minimum": 1,
            "maximum": 32
          },
          "timeoutSecs": {
            "type": "number",
            "minimum": 0.1,
            "maximum": 120,
            "default": 5
          },
          "finishOnKey": {
            "type": "string",
            "description": "Single DTMF terminator (default #)"
          },
          "repeatOnInvalid": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10,
            "default": 0
          },
          "branches": {
            "type": "object",
            "description": "Map of exact digit string → child verb array.",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/FlowDefinition"
              }
            }
          },
          "defaultVerbs": {
            "type": "array",
            "description": "Verbs to run when no branch matches (timeout/invalid input).",
            "items": {
              "$ref": "#/components/schemas/FlowDefinition"
            }
          }
        }
      },
      "VerbDial": {
        "type": "object",
        "required": ["verb", "target"],
        "properties": {
          "verb": {
            "type": "string",
            "enum": ["dial"]
          },
          "target": {
            "type": "string",
            "example": "sofia/gateway/main/+27115551234"
          },
          "callerId": {
            "type": "string",
            "description": "Override caller-id number"
          },
          "callerIdName": {
            "type": "string"
          },
          "timeoutSecs": {
            "type": "integer",
            "minimum": 1,
            "maximum": 600,
            "default": 30
          },
          "answerOnBridge": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "VerbListen": {
        "type": "object",
        "required": ["verb", "url"],
        "properties": {
          "verb": {
            "type": "string",
            "enum": ["listen"]
          },
          "url": {
            "type": "string",
            "description": "Path/URL the recording is written to"
          },
          "maxLengthSecs": {
            "type": "integer",
            "minimum": 1,
            "maximum": 86400,
            "default": 3600
          },
          "finishOnKey": {
            "type": "string",
            "description": "Stop recording on this DTMF (single char)"
          },
          "playBeep": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "VerbPause": {
        "type": "object",
        "required": ["verb", "length"],
        "properties": {
          "verb": {
            "type": "string",
            "enum": ["pause"]
          },
          "length": {
            "type": "number",
            "minimum": 0.05,
            "maximum": 600,
            "description": "Seconds (fractional OK)"
          }
        }
      },
      "VerbSay": {
        "type": "object",
        "required": ["verb", "text"],
        "description": "STUB — TTS not yet configured. The verb is accepted but skipped at runtime.",
        "properties": {
          "verb": {
            "type": "string",
            "enum": ["say"]
          },
          "text": {
            "type": "string"
          },
          "voice": {
            "type": "string"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "VerbHangup": {
        "type": "object",
        "required": ["verb"],
        "properties": {
          "verb": {
            "type": "string",
            "enum": ["hangup"]
          },
          "reason": {
            "type": "string",
            "description": "Free-text reason for the hangup. If it matches a known SIP cause string (UPPER_SNAKE_CASE like USER_BUSY, CALL_REJECTED, etc.) it's used as the SIP hangup cause. Any other value is stamped on the outgoing BYE as `X-Reason` and the cause defaults to NORMAL_CLEARING.\n"
          },
          "headers": {
            "type": "object",
            "description": "Custom SIP headers to include in the outgoing BYE. Use X- prefixed names for compatibility — many SIP stacks only forward X- headers on BYE without extra config.\n",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "VerbQueue": {
        "type": "object",
        "required": ["verb", "queue_id"],
        "description": "Place the caller into a mod_callcenter queue. The call is held with hold music until an available agent bridges in, the caller hangs up, or `maxWaitSecs` expires. Flow execution blocks until one of those outcomes occurs, then continues with the appropriate branch verbs.\n",
        "properties": {
          "verb": {
            "type": "string",
            "enum": ["queue"]
          },
          "queue_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the call_center_queues row to place the caller into. The queue must belong to your organisation and be active. Obtain this from GET /v1/call-center/queues.\n"
          },
          "maxWaitSecs": {
            "type": "integer",
            "minimum": 1,
            "maximum": 7200,
            "default": 600,
            "description": "Maximum seconds to wait for an agent before giving up and running timeoutVerbs. Defaults to 600 (10 minutes).\n"
          },
          "answeredVerbs": {
            "$ref": "#/components/schemas/FlowDefinition",
            "description": "Verbs to execute after an agent answers and the call is bridged. Runs on the caller's leg. If omitted the flow simply continues to the next top-level verb once the bridge ends.\n"
          },
          "timeoutVerbs": {
            "$ref": "#/components/schemas/FlowDefinition",
            "description": "Verbs to execute when maxWaitSecs expires and no agent has answered. Typical use: play an apology message then hangup, or redirect to voicemail.\n"
          },
          "abandonVerbs": {
            "$ref": "#/components/schemas/FlowDefinition",
            "description": "Verbs to execute when the caller hangs up while waiting in the queue (before an agent answers). Useful for logging or sending a callback SMS. Note: the channel is already gone at this point so any verbs that require an active channel (play, gather, dial) will be silently skipped.\n"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Returns the health status of all service connectors (DB, Redis, ESL).",
        "tags": ["Meta"],
        "security": [],
        "responses": {
          "200": {
            "description": "All connectors healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "version": {
                      "type": "string",
                      "example": "v1"
                    },
                    "checks": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "boolean"
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "One or more connectors are unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "status": {
                      "type": "string",
                      "example": "degraded"
                    },
                    "version": {
                      "type": "string",
                      "example": "v1"
                    },
                    "checks": {
                      "type": "object",
                      "properties": {
                        "mysql": {
                          "type": "boolean"
                        },
                        "redis": {
                          "type": "boolean"
                        },
                        "redisStream": {
                          "type": "boolean"
                        },
                        "backend": {
                          "type": "boolean"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/versions": {
      "get": {
        "summary": "List supported API versions",
        "description": "Returns all supported API versions with their stability status.",
        "tags": ["Meta"],
        "security": [],
        "responses": {
          "200": {
            "description": "Version list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "stable": {
                      "type": "string",
                      "example": "v1"
                    },
                    "versions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "version": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "stable",
                              "experimental",
                              "deprecated",
                              "sunset"
                            ]
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "summary": "List webhook endpoints for the current organisation",
        "tags": ["Webhooks"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhook endpoints (secrets never returned)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEndpoint"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new webhook endpoint",
        "description": "The signing secret is returned **only once** at creation time. Store it securely — it cannot be retrieved again (use rotate-secret to get a new one).\n",
        "tags": ["Webhooks"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://example.com/webhook"
                  },
                  "event_types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [],
                    "description": "Empty array = receive ALL events",
                    "example": ["call.started", "call.ended"]
                  },
                  "description": {
                    "type": "string",
                    "example": "Production webhook"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Endpoint created — secret shown once",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/WebhookEndpoint"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "secret": {
                              "type": "string",
                              "description": "HMAC signing secret — store securely, shown once only"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "get": {
        "summary": "Get a single webhook endpoint",
        "tags": ["Webhooks"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint details (no secret)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a webhook endpoint (owner or admin)",
        "tags": ["Webhooks"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "event_types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated endpoint (no secret)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a webhook endpoint (owner or admin)",
        "tags": ["Webhooks"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Endpoint deleted — no content"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/{id}/rotate-secret": {
      "post": {
        "summary": "Rotate the signing secret for a webhook endpoint (owner or admin)",
        "description": "Generates a new HMAC secret. The new secret is returned once — update your receiver immediately.",
        "tags": ["Webhooks"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New secret returned once",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "secret": {
                          "type": "string",
                          "description": "New HMAC signing secret"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/{id}/deliveries": {
      "get": {
        "summary": "List delivery attempts for a webhook endpoint",
        "tags": ["Webhooks"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": ["pending", "delivered", "failed"]
            },
            "description": "Filter by delivery status"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated delivery history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "deliveries": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WebhookDelivery"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/{id}/deliveries/{deliveryId}/retry": {
      "post": {
        "summary": "Manually retry a failed delivery (owner or admin)",
        "tags": ["Webhooks"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Webhook endpoint ID"
          },
          {
            "in": "path",
            "name": "deliveryId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Delivery ID to retry"
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery re-queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "queued": {
                          "type": "boolean",
                          "example": true
                        },
                        "deliveryId": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Delivery already succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Endpoint or delivery not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me": {
      "get": {
        "summary": "Get current user profile",
        "tags": ["Users"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update current user profile",
        "description": "Currently only `name` can be updated.",
        "tags": ["Users"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Alice Updated"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated fields returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No valid fields to update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me/change-password": {
      "post": {
        "summary": "Change current user password",
        "tags": ["Users"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["current_password", "new_password"],
                "properties": {
                  "current_password": {
                    "type": "string",
                    "example": "oldP@ssword1"
                  },
                  "new_password": {
                    "type": "string",
                    "minLength": 8,
                    "example": "newP@ssword2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Password updated"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing fields, password too short, or current password incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me/organisations": {
      "get": {
        "summary": "List organisations the current user belongs to",
        "tags": ["Users"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of organisations with the user's role in each",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organisation"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sms-credentials": {
      "get": {
        "summary": "Get this org's SMS credential",
        "tags": ["SMS Credentials"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "org_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Organisation ID (optional if inferred from auth token)"
          }
        ],
        "responses": {
          "200": {
            "description": "Credential row",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SmsCredential"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "org_id is required"
          },
          "404": {
            "description": "No SMS credential configured"
          }
        }
      },
      "post": {
        "summary": "Create an SMS credential (one per org)",
        "tags": ["SMS Credentials"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jasmin_username", "jasmin_password"],
                "properties": {
                  "jasmin_username": {
                    "type": "string",
                    "example": "myuser"
                  },
                  "jasmin_password": {
                    "type": "string",
                    "example": "secret"
                  },
                  "default_sender_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "Default E.164 number or alphanumeric sender ID (1-11 chars)."
                  },
                  "active": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credential created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SmsCredential"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or credential already exists"
          }
        }
      },
      "patch": {
        "summary": "Update SMS credential fields",
        "tags": ["SMS Credentials"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jasmin_username": {
                    "type": "string"
                  },
                  "jasmin_password": {
                    "type": "string"
                  },
                  "default_sender_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credential updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SmsCredential"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "org_id is required or no fields to update"
          },
          "404": {
            "description": "No SMS credential configured"
          }
        }
      },
      "delete": {
        "summary": "Remove the org's SMS credential",
        "tags": ["SMS Credentials"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Credential deleted"
          },
          "400": {
            "description": "org_id is required"
          },
          "404": {
            "description": "No SMS credential configured"
          }
        }
      }
    },
    "/v1/sms": {
      "post": {
        "summary": "Send an SMS",
        "tags": ["SMS"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["to", "body"],
                "properties": {
                  "to": {
                    "type": "string",
                    "example": "+27821234567",
                    "description": "E.164"
                  },
                  "from": {
                    "type": "string",
                    "nullable": true,
                    "description": "E.164 number or alphanumeric sender ID (1-11 chars). When omitted, falls back to the org's default sender ID from sms_credentials.\n"
                  },
                  "body": {
                    "type": "string",
                    "example": "Hello"
                  },
                  "tag": {
                    "type": "object",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "SMS queued for sending. Status updates arrive via webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/QueuedSms"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g. missing `to`, invalid E.164, or `from` number not owned by the organisation)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "bad_request"
                        },
                        "message": {
                          "type": "string",
                          "example": "from number '+27123456789' is not an active SMS-capable number assigned to this organisation"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List SMS messages",
        "tags": ["SMS"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "type": "string",
              "enum": ["outbound", "inbound"]
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages"
          }
        }
      }
    },
    "/v1/sms/{id}": {
      "get": {
        "summary": "Get an SMS message",
        "tags": ["SMS"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message metadata"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/v1/sip-users": {
      "get": {
        "summary": "List SIP users",
        "tags": ["SipUsers"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of SIP users (no passwords)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SipUser"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a SIP user (returns generated password ONCE)",
        "tags": ["SipUsers"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["extension"],
                "properties": {
                  "extension": {
                    "type": "string",
                    "example": "1001"
                  },
                  "realm": {
                    "type": "string",
                    "description": "Defaults to FS_DEFAULT_REALM"
                  },
                  "password": {
                    "type": "string",
                    "description": "Auto-generated if omitted"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "voicemail_enabled": {
                    "type": "boolean",
                    "default": false
                  },
                  "application_id": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "SIP user created — password returned ONCE",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/SipUserWithPassword"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "extension already exists for this realm"
          }
        }
      }
    },
    "/v1/sip-users/{id}": {
      "get": {
        "summary": "Get a SIP user",
        "tags": ["SipUsers"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SIP user"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "summary": "Update a SIP user (cannot change password — use /password endpoint)",
        "tags": ["SipUsers"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string"
                  },
                  "voicemail_enabled": {
                    "type": "boolean"
                  },
                  "application_id": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  },
                  "active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated user"
          }
        }
      },
      "delete": {
        "summary": "Delete a SIP user",
        "tags": ["SipUsers"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/sip-users/{id}/password": {
      "post": {
        "summary": "Rotate a SIP user's password (returns new password ONCE)",
        "tags": ["SipUsers"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "Optional caller-supplied password; auto-generated if omitted"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/SipUserWithPassword"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/recordings": {
      "get": {
        "summary": "List recordings",
        "tags": ["Recordings"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "call_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by call."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recordings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Recording"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/recordings/{id}": {
      "get": {
        "summary": "Get recording metadata",
        "tags": ["Recordings"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recording metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Recording"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a recording (metadata + file)",
        "tags": ["Recordings"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/recordings/{id}/download": {
      "get": {
        "summary": "Stream the audio file",
        "tags": ["Recordings"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Binary audio stream",
            "content": {
              "audio/wav": {}
            }
          },
          "404": {
            "description": "Recording or underlying file is missing"
          }
        }
      }
    },
    "/v1/organisations": {
      "get": {
        "summary": "List organisations for the current user",
        "tags": ["Organisations"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Organisations the current user is a member of",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organisation"
                      }
                    }
                  }
                }
[...]
